@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito&family=Open+Sans&family=Quicksand:wght@400;700&family=Roboto&display=swap');
:root {
    --white: #F3F6F6;
    --sage: #98BEA8;
    --green: #16B93D;
    --grey: #929698;
    --dark: #2D2927;

    --nav-w: 300px;
}

html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgba(146, 150, 152, 0.2);
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
main {
    margin-left: var(--nav-w);
}
button {
    background-color: var(--white);
    border: 2px solid var(--dark);
    outline: none;
}
